*.tar.gz

**/model
**/data
**/datasets
**/logs
**/*ubyte*
**/exe_cache
**/tf_report_*

*.pyc
__pycache__
.cache
.ipu_cache
**/.ipynb_checkpoints/
*.csv
*.log
*.so
*.lock
archive.a
debug.cbor
profile.pop*
report.txt

*.onnx
*.pvti

.DS_Store

.idea
.project
.pydevproject

# Remove VIM temp files
**/.swp
**/.*.sw[a-p]

# Ignore vscode config
.vscode/launch.json
.vscode/settings.json

# C++ examples build into the "build" directory
**/build/

# Virtual environments
*virtualenv/
.venv
