*.tar.gz

**/weights
**/images

**/model
**/data
**/datasets
**/logs
**/*ubyte*
**/exe_cache

*.pyc
__pycache__
.cache
.ipu_cache
*.csv
*.log
*.so
*.lock
report.txt

*.onnx

.DS_Store

.idea
.project
.pydevproject

# Remove VIM temp files
*.swp

# Ignore vscode config
.vscode/launch.json
.vscode/settings.json

# C++ examples build into the "build" directory
**/build/

# Virtual environments
*virtualenv/
.venv
