name: Python application
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tutorials/sst/requirements.txt

    - name: Run coverage
      run: |
        cd tutorials/sst
        pytest --cov=./

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1

